@{
    ViewBag.Title = "About";
}
<h2>About this site</h2>

<body style="background-color: silver; text-align: center">
    <body2 style ="font-size: large ">
    This web application was built by David, Aaron, and Andrew, to demonstrate <br/>
    various programming skills that we learned at Grand Circus C# .Net Bootcamp.
    </body2>
    <br /><br />
    <p style="font-size: large">Some of the skills that we used to complete this project include: </p><br/>
    <div style="font-size: large; color: blue">
        <ul>
            <p>C#</p>
            <p>Asp.Net</p>
            <p>MVC</p>
            <p>Razor</p>
            <p>Entity Framework</p>
            <p>Web API's</p>
            <p>Databases</p>
            <p>Azure</p>
            <p>Version Control with Git</p>
            <p>HTML5</p>
            <p>JavaScript</p>
            <p>...and more</p>
        </ul>
    </div>
</body>