@{
    ViewBag.Title = "About";
}
<h2>About this site</h2>

<body style="background-color: silver; text-align: center">
    <body2 style ="font-size: large ">
    This web application was built by David, Aaron, and Andrew, to demonstrate <br/>
    various programming skills that we learned at Grand Circus C# .Net Bootcamp.
    </body2>
    <br /><br />
    <p style="font-size: large">Some of the skills that we used to complete this project include: </p><br/>
    <div style="font-size: large; color: blue">
        <ul>
            <li>C#</li>
            <li>Asp.Net</li>
            <li>MVC</li>
            <li>Razor</li>
            <li>Entity Framework</li>
            <li>Web API's</li>
            <li>Databases</li>
            <li>Azure</li>
            <li>Version Control with Git</li>
            <li>HTML5</li>
            <li>JavaScript</li>
            <li>...and more</li>
        </ul>
    </div>
</body>