<!--  This page gives some information about the site and some of the technologies used
    in creating it-->

@{
    ViewBag.Title = "About";
}

<body class="container-fluid" style="background-color: black; text-align: center; color: white">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <p style="font-size: 3vw">About this site</p>
            <p style="font-size: 1.4vw ">This web application was built by David, Aaron, and Andrew to demonstrate various programming skills learned at the Grand Circus C#/.NET Bootcamp.</p>
            <p style="font-size: 1.4vw">Some of the skills that we used to complete this project include: </p><br />
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row" style="font-size: 1.4vw; color: dodgerblue">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            C#<br />
            ASP.NET<br />
            MVC<br />
            Razor<br />
        </div>
        <div class="col-sm-2">
            Entity Framework<br />
            Web API's<br />
            SQL Databases<br />
            Azure<br />
        </div>
        <div class="col-sm-2">
            Git Version Control<br />
            HTML5<br />
            JavaScript<br />
            ...and more
        </div>
        <div class="col-sm-3"></div>
    </div>
</body>