@{
    ViewBag.Title = "Contact";
}
<h2 style="text-align:center">Contact Information</h2>
<br/>
<body style="background-color: silver">
    <div class="column" style="float:left; width: 35%; text-align: center ">
        <p>David Wilkins</p>
        <p>Resume: <a href="~/Content/David_Wilkins_Resume.pdf">David Wilkins</a></p>
        <p>Phone: 260-602-2241</p>
        <p>Email: <a href="mailto:hire.davidwilkins@gmail.com">hire.davidwilkins@gmail.com</a></p>
        <p>
            <a href="https://www.linkedin.com/in/david-a-wilkins/">LinkedIn</a>
            | <a href="https://github.com/davidwilkins1990">GitHub</a>
        </p>
        <img src="~/Content/DavidWilkins.jpg" height="325" width="250">
    </div>

        <div class="column" style=" float:left ; width: 33%; text-align: center ">
            <p>Aaron Sandusky</p>
            <p>Resume Link</p>
            <p>Phone: </p>
            <p>Email: </p>
            <p>LinkedIN: </p>
            <p>GitHub: </p>
            <p>IMG</p>
        </div>

        <div class="column" style=" float: left; width: 32%; text-align: center ">
            <p>Andrew Patenge</p>
            <p>Resume Link</p>
            <p>Phone: </p>
            <p>Email: </p>
            <p>LinkedIN: </p>
            <p>GitHub: </p>
            <p>IMG</p>
        </div>
</body>