@{
    ViewBag.Title = "Contact";
}
<h2 style="text-align:center; margin-top: 5px;">Contact Information</h2>
<br/>
<body style="background-color: silver">
    <div class="column" style="float:left; width: 34%; text-align: center ">
        <p style="font-weight: bold">David Wilkins</p>
        <p>Resume: <a href="~/Content/David_Wilkins_Resume.pdf">David Wilkins</a></p>
        <p>Phone: 260-602-2241</p>
        <p>Email: <a href="mailto:hire.davidwilkins@gmail.com">hire.davidwilkins@gmail.com</a></p>
        <p>
            <a href="https://www.linkedin.com/in/david-a-wilkins/">LinkedIn</a>
            | <a href="https://github.com/davidwilkins1990">GitHub</a>
        </p>
        <img src="~/Content/DavidWilkins.jpg" height="300" width="230">
    </div>
    
    <div class="column" style=" float:left ; width: 33%; text-align: center ">
        <p style="font-weight: bold">Aaron Sandusky</p>
        <p>Resume: <a href="~/Content/Aaron_Sandusky_Resume.pdf" >Aaron Sandusky</a></p>
        <p>Phone: 734-680-6702</p>
        <p>Email: <a href="mailto:atsand23@gmail.com">atsand23@gmail.com</a></p>
        <p>
            <a href="https://www.linkedin.com/in/aaron-sandusky/">LinkedIn</a>
            | <a href="https://github.com/atsand">GitHub</a>
        </p>
        <img src="~/Content/AaronSandusky.jpg" height="300" width="230">
    </div>

    <div class="column" style=" float: left; width: 33%; text-align: center ">
        <p style="font-weight: bold">Andrew Patenge</p>
        <p>Resume: <a href="~/Content/AndrewPatengeResume.pdf">David Wilkins</a></p>
        <p>Phone: 231-923-8318</p>
        <p>Email: <a href="mailto:patenged@gmail.com">patenged@gmail.com</a></p>
        <p>
            <a href="https://www.linkedin.com/in/andrew-patenge/">LinkedIn</a>
            | <a href="https://github.com/patenged">GitHub</a>
        </p>
        <img src="~/Content/AndrewPatenge.jpg" height="300" width="230">
    </div>
</body>