
<body style="background-color: black ">
    
<div style="position: relative; text-align: center; margin-left: 1px; margin-right: 1px;">
    
    <img src="~/Content/theater2.jpeg" style=" height: 98%; width: 100%;  " a>
    <div class="center" style="position:absolute ; top: 20% ; left: 25%; font-size: x-large ">
        Welcome! <br /> This web app lets you take a short quiz about movies. <br /> Given a movie plot,
        you have to guess which movie it is. <br /> Have fun! <br /> <br/>
        <p>@Html.ActionLink("Log In", "Login", "Account")</p>
        <p>@Html.ActionLink("Register", "Register", "Account")</p>
        <p>@Html.ActionLink("Start Quiz", "Quiz", "Home")</p>
        
    </div>
  
</div>

    </body>
