

<body style="background-color: black ">
<div style="position: relative; text-align: center;">
    <img class="img-responsive" src="~/Content/theater2.jpeg" style=" height: 98%; width: 100%;  " a>
        <div class="row"> 
            <div class="col-4"></div>
            <div class="container-fluid text-centered col-4" style="position:absolute; top: 30% ; left: 50% ; transform: translate(-50%, -30%);font-size:2vw ">
                <p>Welcome!</p>
                <p>This web app lets you take a short quiz about movies.  Given a movie plot, you have to guess which movie it is.  Have fun!</p><br />
                <p>@Html.ActionLink("Log In", "Login", "Account")</p>
                <p>@Html.ActionLink("Register", "Register", "Account")</p>
                <p>@Html.ActionLink("Start New Quiz", "QuizOptions", "Home")</p>
            </div>
            <div class="col-4"></div>
        </div>
</div>
</body>
