<!--      poster size is 300 x 428  -->
@{
    ViewBag.Title = "Quiz";
        }
<body style="background-color: silver">
    <h2>Answer</h2>

    <p>Question #@ViewBag.id: </p>
    <!--src needs to get an image from omdb poster, probably in a viewbag?    -->
    <img style="float: right" src="@Session["poster"]" height="428" width="300">

    <p>What movie is this?</p>

    <p id="plot">@Session["plot"]</p>
    <p>Select an answer</p>

    <p>
        <input type="radio" id="answer1" name="Answer" />  <label id="label1" style="color: forestgreen">Answer 1  </label>
    </p>
    <p>
        <input type="radio" id="answer2" name="Answer" />  <label>Answer 2  </label>
    </p>
    <p>
        <input type="radio" id="answer3" name="Answer" />  <label>Answer 3  </label>
    </p>

    <p>@Html.ActionLink("Next Question", "Quiz", "Home")</p>

</body>