<!--This page shows the plot of a movie, and gives the user options to guess. After making a 
    selection and clicking submit, the user is taken to the quiz clone page to find the 
    correct answer and continue the quiz.-->
<!-- (at)model(space) Namespace.Folder.ModelClass (no semicolon!) To refer, call (at)Model.FieldorMethod-->
@model MoviePlotQuiz.Models.Movie

@using MoviePlotQuiz.Models
@{
    List<Movie> movieList = Session["MovieList"] as List<Movie>;
}

<body style="background-color: silver">
    <p style="font-size: 3vw; text-align: center">Quiz</p>
    <div class="row">
        <div class="col-sm-4" style="">

            <p style="font-size:2.6vw; font-weight:bold ">Question #@Convert.ToInt32(Session["QuestionNumber"]):</p>

            <p style="font-size:1.8vw; font-weight:bold">What movie is this?</p>

            <p style="font-size:1.8vw; font-style:italic" id="plot">@movieList[Convert.ToInt32(Session["QuestionNumber"]) - 1].Plot</p>
            <form action="QuizClone" method="post" class="question">
                <p style="font-size:1.6vw; text-decoration:underline">Select an answer:</p>
                @for (int i = 1; i < Convert.ToInt32(Session["Difficulty"]) + 1; i++)
                {
                    <label style="font-size:1.6vw"><input type="radio" id="answer @i" name="Answer" value="@Session["title" + i]" required />@Session["title" + i] </label><br />
                }

                <input style="font-size:1.5vw" type="submit" value="Submit">
            </form>
        </div>

        <div class="col-sm-4" style="">
            <img class="img-responsive" style="width:100%; margin:auto" src="~/Content/riddlerQuestion.jpg">
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</body>

