<!--This page is shown after the player has answered all the questions in the quiz. 
    It will give them a final total of questions right, wrong, and the percentage.
    Stretch goal: it will display the movie poster for all the correct answers -->
<!-- (at)model(space) Namespace.Folder.ModelClass (no semicolon!) To refer, call (at)Model.FieldorMethod-->
@using MoviePlotQuiz.Models
@model MoviePlotQuiz.Models.Quiz


<body style="background-color: silver; text-align: center">
    <h2>Summary of Quiz Results</h2>

    <label>Questions answered: @Convert.ToInt32(Session["QuestionCount"]) | Right: @Convert.ToInt32(Session["AnswersCorrect"]) | Wrong: @Convert.ToInt32(Session["AnswersWrong"]) | Percent: @Convert.ToDouble(Session["Percent"])%</label>
    <br />
    <br />
    <form action="QuizOptions" method="post" class="toNewQuiz">
        <input type="submit" value="Start New Quiz" />
    </form>
    <br />
    <br />
    <form action="Index" method="post" class="toHome">
        <input type="submit" value="Go to Home Page" />
    </form>
    <br />
    <br />
    <form action="AddScore" method="post" class="toHome">
        <input type="text" name="Name" value="" required maxlength="15" />
        <input type="submit" value="Add me to the Leaderboards!" />
    </form>
    <br />
    <br />
    <form action="~/Leaderboards/Index" method="post" class="toHome">
        <input type="submit" value="Visit the Leaderboards" />
    </form>

    <!--Add images of posters for movies that were part of the quiz.-->
    <!--for each movie in list of answers, get movie.poster-->
</body>





