@model MoviePlotQuiz.Models.Quiz
@{
    ViewBag.Title = "Summary";
}
<body style="background-color: silver; text-align: center">

    <h2>Summary of Quiz Results</h2>

    <label>Questions answered: @Model.QuestionNum | Right: @Model.AnswersCorrect | Wrong: @Model.AnswersWrong | Percent: @Model.Percent%</label>
</body>





